form {
    width: 300px;
    margin: 50px auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

h1 {
    text-align: center;
    color: #4CAF50;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 15px;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

a {
    color: #1f08a1;
    display: block;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
}

a:hover {
    color: #8789e2;
    text-decoration: underline;
}
/* Responsive Styles */
@media (max-width: 767px) {
    /* Styles for small screens (mobile devices) */
    .container {
        margin: 20px;
        padding: 20px;
    }

    .custom-form input,
    .custom-form button {
        font-size: 14px;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    /* Styles for medium screens (tablets) */
    .container {
        max-width: 700px;
    }
}

@media (min-width: 1200px) {
    /* Styles for large screens (desktops) */
    .container {
        max-width: 900px;
    }
}