

h1 {
    text-align: center;
    color: #4CAF50;

}
/* Container styles */
.container {
    width: 100%;
    max-width: 300px;
    margin: 50px auto;
    border: 1px solid #ccc;
    padding: 50px;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-family: sans-serif;
}

/* Heading styles */
.container h2 {
    text-align: center;
    color: #4CAF50;
}

/* Label styles */
.container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Input field styles */
.container input {
    width: 90%;
}

.container input[type="text"],
.container input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

/* Button styles */
.container button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 15px;
    font-size: 16px;
}

.container button[type="submit"]:hover {
    background-color: #45a049;
}

/* Link styles */
.container a {
    color: #0b38b4;
    display: block;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
}

.container a:hover {
    color: #222222;
    text-decoration: underline;
}
/* Message Styles */
.messages {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

.messages li {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Responsive Styles */
@media (max-width: 767px) {
    /* Styles for small screens (mobile devices) */
    .container {
        margin: 20px;
        padding: 20px;
    }

    .container input,
    .container button {
        font-size: 16px; /* Increase font size for better readability */
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    /* Styles for medium screens (tablets) */
    .container {
        max-width: 300px;
    }
}

@media (min-width: 300px) {
    /* Styles for large screens (desktops) */
    .container {
        max-width: 300px;
    }

    .container input[type="text"],
    .container input[type="password"] {
        font-size: 18px; /* Adjust font size for better readability on larger screens */
    }

    .container button[type="submit"] {
        font-size: 18px; /* Adjust font size for better readability on larger screens */
        padding: 12px 24px; /* Adjust padding for larger buttons */
    }
}