/* register.css */

/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 300px;
    margin: 50px auto;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
    color: #333333;
}

/* Form Styles */
.custom-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.custom-form input,
.custom-form button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.custom-form button {
    background-color: #14ac3a;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-form button:hover {
    background-color: #71a174;
}

.custom-form a {
    text-align: center;
    color: #4529e4;
    text-decoration: none;
    transition: color 0.3s ease;
}

.custom-form a:hover {
    color: #5265d6;
}

/* Message Styles */
ul {
    list-style-type: none;
    padding: 0;
    margin-top: 5px;
}

ul li {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Responsive Styles */
@media (max-width: 767px) {
    /* Styles for small screens (mobile devices) */
    .container {
        margin: 20px;
        padding: 20px;
    }

    .container input,
    .container button {
        font-size: 16px; /* Increase font size for better readability */
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    /* Styles for medium screens (tablets) */
    .container {
        max-width: 300px;
    }
}
@media (min-width: 300px) {
    /* Styles for large screens (desktops) */
    .container {
        max-width: 300px;
    }

    .container input[type="text"],
    .container input[type="password"] {
        font-size: 18px; /* Adjust font size for better readability on larger screens */
    }

    .container button[type="submit"] {
        font-size: 18px; /* Adjust font size for better readability on larger screens */
        padding: 12px 24px; /* Adjust padding for larger buttons */
    }
}