.signup {
    width: 300px;
    margin: 50px auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}

.signup h2 {
    text-align: center;
}

.signup label {
    display: block;
    margin-bottom: 5px;
}

.signup input[type="text"],
.signup input[type="password"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

.signup button[type="submit"] {
    background-color: #16c01b;
    color: white;
    padding: 10px 20px;
    width: 80%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signup a {
    color: #240fdf;
    display: block;
    margin-top: 10px;
    text-align: center;
}
