{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
</head>
<body>
    <h1>Welcome to Admin Dashboard</h1>
    <form method="post">
        <h2>Update Coffee weight</h2>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Update Weight</button>
        <ul>
            <a href="{% url 'all-farmers' %}">All Farmers</a>
            <a href="{% url 'register-new-farmer' %}">Register New Farmer</a>
        </ul>
    </form>
</body>
</html>