{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/form1.css' %}">
</head>
<body style="padding: 0; margin: 0;">
    <nav class="navbar">
        <ul>
            <li><a href="{% url 'all-farmers' %}">All Farmers</a></li>
            <li><a href="{% url 'register-new-farmer' %}">Register New Farmer</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>Welcome to Admin Dashboard</h1>
        <form method="post" class="custom-form">
            <h2>Update Coffee Weight</h2>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Update Weight</button>
        </form>
    </div>
    {% if messages %}
        <div class="message-container">
            <ul class="messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</body>
</html>
