<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>All Farmers</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th> Number</th>
                        <th> Name</th>
                        <th>Weight</th>
                    </tr>
                </thead>
                <tbody>
                    {% for farmer in dashboard %}
                    <tr>
                        <td>{{ farmer.name }}</td>
                        <td>{{ farmer.phone }}</td>
                        <td>{{ farmer.location }}</td>
                        <td>{{ farmer.id }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div