{% load static %} 
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="static/css/landing.css"/>
  <title>Olmismis farmers co-operative soceity</title>
  <link rel="stylesheet" href="../static/css/main.css">
</head>

<body>
  <nav class="navbar">
    <!-- LOGO - TEXT -->
    <div class="logo">Olmismis</div>


    <ul class="nav-links">

      <!-- USING CHECKBOX HACK -->
      <input type="checkbox" id="checkbox_toggle" />
      <label for="checkbox_toggle" class="hamburger">&#9776;</label>

      <!-- NAVIGATION MENUS -->
      <div class="menu">

        <li><a href="/">Home</a></li>
        <li><a href="/dashboard/dashboard">Admin</a></li>
        <li><a href="/">Farmer</a></li>
        <li><a href="/">About</a></li>

        <li class="services">
          <a href="#services">Services</a>

          <!-- DROPDOWN MENU -->
          <ul class="dropdown">
            <li><a href="/"> coffee pulping </a></li>
            <li><a href="/">cofee grinding </a></li>
            <li><a href="/"></a></li>
            <li><a href="/"></a></li>
            <li><a href="/"></a></li>
          </ul>

        </li>

        <li><a href="/">Contact</a></li>
      </div>
    </ul>
  </nav>
  <!-- End of the navbar -->

  <!-- Start of the slideshow -->
  <section style="display: flex; justify-content: center;">
    <div class="carousel">
      <div class="slide">
          <img src="../static/images/dashboard.jpg" alt="" width="100%">
          <div class="text">Caption Text1</div>
      </div>
      <div class="slide">
          <img src="../static/images/coffee.png" alt="" width="100%">
          <div class="text">Caption Text2</div>
      </div>
      <div class="slide">
          <img src="../static/images/landing.png" alt="" width="100%">
          <div class="text">Caption Text3</div>
      </div>

      <a href="javascript:void(0)" class="prev" onclick="plusSlides(-1)">&#10094</a>
      <a href="javascript:void(0)" class="next" onclick="plusSlides(1)">&#10095</a>

      <div class="dot-box">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
      </div>
  </div>
  </section>

  <h3>Founding Fatheres</h3>

  <section class="row">
    <div class="card-box">
      <div class="card-row">

        <div class="card col-6">
          <img src="../static/images/avatar1.png" alt="Wesley Too">
          <div class="overlay"></div>
          <div class="name"></div>
        </div>

        <div class="card col-6">
          <img src="../static/images/avatar2.png" alt="James Meli">
          <div class="overlay"></div>
          <div class="name"></div>

      </div>

      <div class="card-row">
        <div class="card col-6">
          <img src="../static/images/avatar3.png" alt="Sammy Cheruiyot">
          <div class="overlay"></div>
          <div class="name"></div>
        </div>
        <div class="card col-6">
          <img src="../static/images/avatar5.png" alt="Paul Too">
          <div class="overlay"></div>
          <div class="name"></div>
        </div>
      </div>
    </div>
  </section>

  <script src="../static/javascript/main.js"></script>
</body>

</html>
